*~
*.kate-swp
.*.swp
.directory
/node_modules/
/coverage/
/tests/selenium/log/
/vendor/
/composer.lock
.eslintcache
.env
docs/
/resources/eslint-linter-browserify.js
/resources/lib/eslint-linter-browserify/linter.js
/resources/lib/stylelint-bundle/linter.js
